<body style="height: 100%; background-color: #F2CF66;">
<div class="form-group-up" style="background-color: #fcf2d6">
<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name, placeholder: 'Your Name', autofocus: true, lable: false %>
    <%= f.input :email, placeholder: 'user@domain.com' %>
    <%= f.input :password, placeholder: 'Enter Password', hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, placeholder: 'Enter Password' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn btn-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</body>