!!! 5
%html(lang="en")
%head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0")
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %title dotNote | Your Online Notebook
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    %link{:rel => "apple-touch-icon", :href => "touch-icon-iphone.png"}/
    /*%link{:href => "touch-icon-ipad.png", :rel => "apple-touch-icon", :sizes => "76x76"}/*/
    %link{:rel => "apple-touch-icon", :sizes => "120x120", :href => "touch-icon-iphone-retina.png"}/
    %link{:rel => "apple-touch-icon", :sizes => "152x152", :href => "touch-icon-ipad-retina.png"}/
    %link{:rel=> "stylesheet", :href=> "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"}
    = csrf_meta_tags
%body
    %nav.navbar.navbar-inverse{:role => "navigation"}
        .container-fluid
            .navbar-header
                %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                    %span.sr-only Toggle navigation
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar
                %a.navbar-brand{:href => root_path} .Note
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                - if user_signed_in?
                    %ul.nav.navbar-nav.navbar-right
                        %li
                            %a{:href => new_note_path} New Note
                        %li
                            %a{:href => edit_user_registration_path} Account
                        %li= link_to "Sign Out", destroy_user_session_path, method: :delete
                            
                - else
                    %ul.nav.navbar-nav.navbar-right
                        %li
                            %a{:href => new_user_session_path} Log In
                        %li
                            %a{:href => new_user_registration_path} Sign Up     
            
            .container   
            
        - if notice
            %div.notification_wrapper_notice
                %p.notice= notice     
        - elsif alert
            %div.notification_wrapper_alert
                %p.alert= alert         


    =yield     
